<ion-content>
    <div class="flex items-center justify-center min-h-screen bg-green-50">
        <div>
            <div (click)="onCameraButtonClick()"
                class="w-[250px] border border-green-200 h-16 rounded bg-green-200 shadow-lg hover:shadow">
                <div class="flex items-center justify-center h-full">
                    <ion-icon name="camera-outline" class="w-6 h-6 mr-2"></ion-icon>
                    <div class="align-middle">Camera</div>
                </div>
            </div>
            <div class="mt-3 w-[250px] flex flex-row gap-3">
                <div [routerLink]="['/help']"
                    class="w-1/2 h-16 bg-green-200 border border-green-200 rounded shadow-lg hover:shadow">
                    <div class="flex flex-col items-center justify-center pt-2">
                        <ion-icon name="help-circle-outline" class="w-6 h-6"></ion-icon>
                        <div class="">Help</div>
                    </div>
                </div>
                <div [routerLink]="['/about']"
                    class="w-1/2 h-16 bg-green-200 border border-green-200 rounded shadow-lg hover:shadow">
                    <div class="flex flex-col items-center justify-center pt-2">
                        <ion-icon name="people-outline" class="w-6 h-6"></ion-icon>
                        <div class="">About Us</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>