<ion-content>
    <splash-screen *ngIf="showSplashScreen$ | async"></splash-screen>
    <div class="flex items-center justify-center w-full min-h-screen bg-green-50"
        style="background-image: url(../assets/bg1.JPG);">
        <div class="absolute inset-0 bg-green-300 opacity-40"></div>
        <div class="relative z-10">
            <div (click)="onCameraButtonClick()" class="w-[250px] h-[250px] rounded-2xl bg-green-300  hover:shadow">
                <div class="flex flex-col items-center justify-center h-full p-1">
                    <img class="w-28" [src]="cameraIcon" alt="camera">
                    <h1 class="text-xl font-semibold text-green-900 align-middle">Camera</h1>
                    <small class="p-4 -mt-2 text-center align-middle">Buka kamera untuk memulai pengenalan
                        mangrove</small>
                </div>
            </div>
            <div class="mt-3 w-[250px] flex flex-row gap-3">
                <div [routerLink]="['/help']" class="w-1/2 h-[150px] p-2 bg-green-200 rounded-xl  hover:shadow">
                    <div class="flex flex-col items-center justify-center h-full">
                        <img class="w-8 mb-1" [src]="helpIcon" alt="help">
                        <span class="font-semibold text-green-900 align-middle">Bantuan</span>
                        <small class="text-xs text-center text-green-800">Petunjuk penggunaan</small>
                    </div>
                </div>
                <div [routerLink]="['/about']" class="w-1/2 p-2 h-[150px] bg-green-200 rounded-xl  hover:shadow">
                    <div class="flex flex-col items-center justify-center h-full">
                        <img class="w-8 mb-1" [src]="aboutIcon" alt="about">
                        <span class="font-semibold text-green-900 align-middle">Tentang kami</span>
                        <small class="text-xs text-center text-green-800">Kenalan dengan kami</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>